
parameters:
   level: max
   paths:
      - app
      - resources
   checkExplicitMixed: false
   ignoreErrors:
      - '#^Call to an undefined method Aura\\Router\\Map::extras\(\)\.$#'
      -
         message: '#^Short ternary operator is not allowed.#'
         path: app\Services\SourceCodeService.php
         count: 2
