
parameters:
   level: max
   paths:
      - app
      - resources
   fileExtensions:
      - php
      - phtml
   checkExplicitMixed: false
   ignoreErrors:
      -
         message: '#^Short ternary operator is not allowed.#'
         path: app\Services\SourceCodeService.php
         count: 2
